*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: white;
  color: black;
}

a {
  color: gray;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* APP */

.app {
  margin: 0;
  display: flex;
}

.app-body {
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* APP BODY - HOME FEED - MOBILE */

.app-body .home-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 90px 0;
  width: 100%;
}

/* APP BODY - APP FEED - MOBILE */

.app-body ul.app-feed {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  flex: 1;
}

.app-body ul.app-feed li {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  margin: 10px 15px 10px 0;
  width: 100%;
  position: relative;
  max-width: 280px;
  min-width: 280px;
  overflow: hidden;
}

.app-body ul.app-feed li a {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.app-body ul.app-feed > li > a > .app-btn-info {
  flex-direction: row;
  display: flex;
  flex: 1;
}

.app-body ul.app-feed > li > a > img {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  top: 0;
  left: 0;
  display: none;
}

.app-body ul.app-feed li a span.icon {
  font-size: 2.5em;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
}

/* APP - FEED - LIST - MOBILE */

.app-body ul.app-feed {
  margin: 0 50px;
}

.app-body ul.app-feed ul.nav-app-info {
  border-bottom: 1px solid lightgray;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5px;
}

.app-body ul.app-feed ul.nav-app-info li {
  display: flex;
  flex-direction: flex-start;
  flex: 1;
}

.app-body ul.app-feed ul.nav-app-info li.tag {
  font-size: 0.6em;
  font-weight: bold;
  color: gray;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.app-body ul.app-feed ul.nav-app-info li.title {
  font-size: 1.1em;
  color: black;
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
}

.app-body ul.app-feed ul.nav-app-info li.info {
  font-size: 0.7em;
  color: gray;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

/* APP - FEED - LIST - DESKTOP */

@media screen and (min-width: 841px) {
  .app-body ul.app-feed {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .app-body ul.app-feed > li {
    background: red;
    height: 250px;
    min-width: 350px;
    max-width: 350px;
    margin: 10px;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: gray;
    border: 1px solid gray;
  }

  .app-body ul.app-feed > li > a {
    display: flex;
    align-items: flex-end;
    flex: 1;
    width: 100%;
    backdrop-filter: blur(25px);
  }

  .app-body ul.app-feed > li > a > .app-btn-info {
    /* background: ghostwhite; */
    background: rgba(255, 255, 255, 0.7);
    max-height: 100px;
    padding: 10px;
    display: flex;
    flex: 1;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(25px);
  }

  .app-body ul.app-feed > li > a > img {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    top: 0;
    left: 0;
    display: block;
  }

  .app-body ul.app-feed > li a span.icon {
    background: transparent;
    min-width: 60px;
  }

  .app-body ul.app-feed ul.nav-app-info {
    border: none;
  }
}

/* NAV BAR  - LEFT */

.navbar .navleft {
  display: none;
}

.navbar {
  width: auto;
}

.app-body ul.nav-left > li > a > .app-btn-info {
  display: flex;
}

@media screen and (min-width: 841px) {
  .navbar .navleft {
    max-width: 200px;
    min-width: 200px;
    font-size: 16px;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: start;
    font-weight: bold;
    height: 100vh;
    background: white;
    border-right: 1px solid black;
    overflow: scroll;
  }
}

.navbar .navleft h1 {
  color: black;
  font-size: 1.5em;
  line-height: 1;
  margin: 15px 0 5px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.navbar .navleft h1:hover {
  color: #0185fe;
}

/* LOGO HEADER */

.navbar .navleft > a:first-child {
  display: flex;
  flex-direction: column;
  min-height: 115px;
}

.navbar .navleft > a:first-child .app-list-header {
  text-transform: uppercase;
  color: #0185fe;
  font-size: 0.7em;
  margin: 10px;
}

.navbar .navleft > a:first-child.is-active .app-list-header {
  color: white;
}

.navbar .navleft > a {
  padding: 0px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  min-height: 70px;
}

.navbar .navleft > a .icon {
  width: 50px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navleft > a .nav-app-info {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navbar .navleft > a .nav-app-info .title {
  display: flex;
  align-items: start;
  font-size: 0.9em;
  margin: 10px 5px 5px 5px;
  font-weight: normal;
  color: black;
}

.navbar .navleft > a .nav-app-info .info {
  font-size: 0.7em;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 5px;
}

/* NAV BAR HOVER */

.navbar .navleft > a:hover {
  background: ghostwhite;
  transition: 0.3s ease all;
}

.navbar .navleft > a:hover .nav-app-info .title {
  color: black;
}

.navbar .navleft > a:hover .nav-app-info .info {
  color: gray;
}

/* NAVBAR - LEFT - ACTIVE HOVER */

.navbar .navleft > a {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.navbar .navleft > a .app-btn-info {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.navbar .navleft > a.is-active:hover {
  background: #0185fe;
  transition: 0.3s ease all;
}

.navbar .navleft > a.is-active:hover .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active:hover .nav-app-info .info {
  color: lightgray;
}

/* NAVBAR - LEFT - IS ACTIVE */

.navbar .navleft > a.is-active {
  background: #0185fe;
}

.navbar .navleft > a.is-active .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active .nav-app-info .info {
  color: lightgray;
}

/* NAV - BAR - BOTTOM */

.navbar-bottom {
  display: none;
}

@media screen and (max-width: 991px) {
  .navbar-bottom {
    position: fixed;
    display: flex;
    bottom: 0;
    height: 100px;
    flex: 1;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(25px);
    z-index: 1;
  }
}

.navbar-bottom .link {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-top: 1px solid gray;
}

.navbar-bottom span {
  font-weight: normal;
  font-size: 0.8em;
  padding-top: 10px;
}

/* NAV BAR - POMODORO */

.navbar .navleft > a.is-active.pomodoro {
  background: #87d7cc;
}

.navbar .navleft > a.is-active.pomodoro .nav-app-info .title {
  color: black;
}

.navbar .navleft > a.is-active.pomodoro .nav-app-info .info {
  color: gray;
}

/* NAV BAR — MARKDOWN EDITOR */

.navbar .navleft > a.is-active.markdown-editor {
  background: #eff1f5;
}

.navbar .navleft > a.is-active.markdown-editor .nav-app-info .title {
  color: black;
}

.navbar .navleft > a.is-active.markdown-editor .nav-app-info .info {
  color: gray;
}

/* NAV BAR - HIGHLIGHT TABS */

.navbar .navleft > a.is-active.highlight-tabs {
  background: #634cec;
}

.navbar .navleft > a.is-active.highlight-tabs .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active.highlight-tabs .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - PAPER ROCK SCISSORS */

.navbar .navleft > a.is-active.paper-rock-scissors {
  background: #478aef;
}

.navbar .navleft > a.is-active.paper-rock-scissors .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active.paper-rock-scissors .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - MOVING BOXES ZELDA */

.navbar .navleft > a.is-active.moving-boxes-zelda {
  background: rgba(43, 159, 75, 1);
}

.navbar .navleft > a.is-active.moving-boxes-zelda .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active.moving-boxes-zelda .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - INFINITE IMAGE GALLERY */

.navbar .navleft > a.is-active.infinite-image-gallery {
  background: #dcdcdc;
}

.navbar .navleft > a.is-active.infinite-image-gallery .nav-app-info .title {
  color: black;
}

.navbar .navleft > a.is-active.infinite-image-gallery .nav-app-info .info {
  color: gray;
}

/* NAV BAR - TRIVIA */

.navbar .navleft > a.is-active.trivia {
  background: #c7e8d9;
}

.navbar .navleft > a.is-active.trivia .nav-app-info .title {
  color: black;
}

.navbar .navleft > a.is-active.trivia .nav-app-info .info {
  color: gray;
}

/* NAV BAR - AUTHENTICATION */

.navbar .navleft > a.is-active.authentication {
  background-color: #104826;
}

.navbar .navleft > a.is-active.authentication .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active.authentication .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - WEB SPEECH TIMERS */

.navbar .navleft > a.is-active.web-speech-timers {
  background: #1f1f1f;
}

.navbar .navleft > a.is-active.web-speech-timers .nav-app-info .title {
  color: white;
}

.navbar .navleft > a.is-active.web-speech-timers .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - CALENDAR PICKER */

.navbar .navleft > a.is-active.calendar-picker {
  background: #d6e3f8;
}

.navbar .navleft > a.is-active.calendar-picker .nav-app-info .title {
  color: black;
}

.navbar .navleft > a.is-active.calendar-picker .nav-app-info .info {
  color: gray;
}
