*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: white;
  color: black;
}

a {
  color: gray;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* APP */

.app {
  margin: 0;
  display: flex;
}

.app-body {
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.app-body h1 {
  color: black;
}

/* NAV BAR */

.navbar {
  max-width: 200px;
  min-width: 200px;
  font-size: 16px;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: start;
  font-weight: bold;
  height: 100vh;
  background: white;
  border-right: 1px solid black;
  overflow: scroll;
}

.navbar h1 {
  color: black;
  font-size: 1.5em;
  line-height: 1;
  margin: 15px 0 5px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.navbar h1:hover {
  color: #0185fe;
}

/* LOGO HEADER */

.navbar > a:first-child {
  display: flex;
  flex-direction: column;
  min-height: 115px;
}

.navbar > a:first-child .app-list-header {
  text-transform: uppercase;
  color: #0185fe;
  font-size: 0.7em;
  margin: 10px;
}

.navbar > a:first-child.is-active .app-list-header {
  color: white;
}

.navbar > a {
  padding: 0px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  min-height: 70px;
}

.navbar > a .icon {
  width: 50px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar > a .nav-app-info {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navbar > a .nav-app-info .title {
  display: flex;
  align-items: start;
  font-size: 0.9em;
  margin: 10px 5px 5px 5px;
  font-weight: normal;
  color: black;
}

.navbar > a .nav-app-info .info {
  font-size: 0.7em;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 5px;
}

/* NAV BAR HOVER */

.navbar > a:hover {
  background: ghostwhite;
  transition: 0.3s ease all;
}

.navbar > a:hover .nav-app-info .title {
  color: black;
}

.navbar > a:hover .nav-app-info .info {
  color: gray;
}

/* NAV BAR ACTIVE HOVER */

.navbar > a.is-active:hover {
  background: #0185fe;
  transition: 0.3s ease all;
}

.navbar > a.is-active:hover .nav-app-info .title {
  color: white;
}

.navbar > a.is-active:hover .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR IS ACTIVE */

.navbar > a.is-active {
  background: #0185fe;
}

.navbar > a.is-active .nav-app-info .title {
  color: white;
}

.navbar > a.is-active .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - POMODORO */

.navbar > a.is-active.pomodoro {
  background: #87d7cc;
}

.navbar > a.is-active.pomodoro .nav-app-info .title {
  color: black;
}

.navbar > a.is-active.pomodoro .nav-app-info .info {
  color: gray;
}

/* NAV BAR — MARKDOWN EDITOR */

.navbar > a.is-active.markdown-editor {
  background: #eff1f5;
}

.navbar > a.is-active.markdown-editor .nav-app-info .title {
  color: black;
}

.navbar > a.is-active.markdown-editor .nav-app-info .info {
  color: gray;
}

/* NAV BAR - HIGHLIGHT TABS */

.navbar > a.is-active.highlight-tabs {
  background: #634cec;
}

.navbar > a.is-active.highlight-tabs .nav-app-info .title {
  color: white;
}

.navbar > a.is-active.highlight-tabs .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - PAPER ROCK SCISSORS */

.navbar > a.is-active.paper-rock-scissors {
  background: #478aef;
}

.navbar > a.is-active.paper-rock-scissors .nav-app-info .title {
  color: white;
}

.navbar > a.is-active.paper-rock-scissors .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - MOVING BOXES ZELDA */

.navbar > a.is-active.moving-boxes-zelda {
  background: rgba(43, 159, 75, 1);
}

.navbar > a.is-active.moving-boxes-zelda .nav-app-info .title {
  color: white;
}

.navbar > a.is-active.moving-boxes-zelda .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - INFINITE IMAGE GALLERY */

.navbar > a.is-active.infinite-image-gallery {
  background: #dcdcdc;
}

.navbar > a.is-active.infinite-image-gallery .nav-app-info .title {
  color: black;
}

.navbar > a.is-active.infinite-image-gallery .nav-app-info .info {
  color: gray;
}

/* NAV BAR - TRIVIA */

.navbar > a.is-active.trivia {
  background: #c7e8d9;
}

.navbar > a.is-active.trivia .nav-app-info .title {
  color: black;
}

.navbar > a.is-active.trivia .nav-app-info .info {
  color: gray;
}

/* NAV BAR - AUTHENTICATION */

.navbar > a.is-active.authentication {
  background-color: #104826;
}

.navbar > a.is-active.authentication .nav-app-info .title {
  color: white;
}

.navbar > a.is-active.authentication .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - WEB SPEECH TIMERS */

.navbar > a.is-active.web-speech-timers {
  background: #1f1f1f;
}

.navbar > a.is-active.web-speech-timers .nav-app-info .title {
  color: white;
}

.navbar > a.is-active.web-speech-timers .nav-app-info .info {
  color: lightgray;
}

/* NAV BAR - CALENDAR PICKER */

.navbar > a.is-active.calendar-picker {
  background: #d6e3f8;
}

.navbar > a.is-active.calendar-picker .nav-app-info .title {
  color: black;
}

.navbar > a.is-active.calendar-picker .nav-app-info .info {
  color: gray;
}
